.responsive-image {
	width:auto;
	max-width:100%;
/*	max-height:180px;*/
	border-radius:10px;
}

.solution-tile {
	border-radius:10%;
	border:solid black 1.5px;
	box-shadow: 3px 4px #c0c0c0;
}

.solution-main-image:hover {
	background-color:#d6d6d6;
}